<div class="dashboard-gutteritem padding20">
    <div class="dashboardnews">
        <h2 class="marginbottom5 floatleft">What's New?</h2>
        <p class="marginbottom5 floatright marginright10    ">February 2015</p>
        <div class="clearall"></div>
        <div class="margintop20">
            <h4>Brew Sessions Upgrade</h4>
            <p>We just rebuilt brew sessions from the ground up.  The new version is faster, easier to use and will help brew day flow more smoothly.  Let us know what you think.</p>            
        </div>
        <div>
            <h4>Tasting Notes</h4>            
            <p>
                We've made logging tasting notes much easier, after all, knowing how a beer tastes is pretty important when choosing a recipe to work with.  You can now easily add
                tasting notes to a recipe or a brew session.
            </p>
        </div>
    </div>
</div>