<div id="subtitle">
    <div class="container">
        <div class="twelve columns">
            <h1 class="title">
                @ViewBag.Title
                @if (!string.IsNullOrWhiteSpace(ViewBag.Subtitle))
                {
                    <span> / @ViewBag.Subtitle</span>
                }
            </h1>
        </div>
        <div class="four columns">
            <div class="top-search">
                @Html.Partial("_SearchForm", new SearchViewModel())
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>
</div>