@using Brewgr.Web.Core.Model
@model BrewSessionViewModel

@{
    Layout = "~/Views/Calculators/_CalculatorsSubLayout.cshtml";
    ViewBag.Title = "Mash and Sparge Infusion Water Calculator";
    ViewBag.Description = "Mash and sparge water temperature infusion calculator for homebrew.";
    ViewBag.ViewId = "vw-watercalc";
}

<div id="water-calc">
        <h2 class="page-header">Mash and Sparge Water Infusion Calculator</h2>
        
        <div class="clearall"></div>
                <span><h3>Water Infusion</h3></span>
                    <div>
                        <h3>Calculator Options</h3>
                        <div>
                            <label for="unit">Measurement</label>
                            <select name="unit" data-name="s_UnitType">
                                <option value="s" selected="selected">US</option>
                                <option value="m">Metric</option>
                            </select>
                        </div>
                    </div>

                    @Html.Partial("~/Views/BrewSession/_WaterInfusionCalculator.cshtml", Model)

            </div>
        </div>
</div>