@using System.Web.Configuration
@model StyleDetailViewModel

@switch (Model.BjcpStyle.SubCategoryId.ToLower())
{
    case "14c":

        <div class="row hero">
            <div class="col-md-6">
                <div>
                    <h2>
                        The Imperial IPA or Double IPA is an American style of beer
                        which takes the American IPA style and cranks it up a notch
                    </h2>
                    <p>
                        The addition of more hops is key in an Imperial IPA which leads
                        to increased bitterness, super hoppy aromas and unique flavors. The added
                        bitterness from the hops is balanced through the use of more malts causing these beers
                        to be much stronger and higher in alcohol content. The Imperial IPA style continues to
                        be one of the most popular styles for homebrewers with beer recipes that continue
                        to push the limits of this style.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/img/baby-hop-cones.jpg" alt="Hop Cones">
            </div>
        </div>
        
                @Html.Partial("_ResponsiveAd")
          
        break;
}
